/* ==============
  Color Scheme
================= */

.text-lime {
  color: #23d04d !important;
}
.text-slime {
  color: #08ff52 !important;
}
.text-pink {
  color: #fc1b70;
}
.text-red {
  color: #ff384a !important;
}
.text-yellow {
  color: #f2f81b !important;
}
.text-orange {
  color: #f5a623 !important;
}
.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}
.text-laser {
  color: #59f0ff !important;
}
.text-blue {
  color: #007bff !important;
}
.text-blue-light {
  color: #2ea6ff !important;
}

.bg-yellow {
  background: #f2f81b !important;
}
.bg-blue-light {
  background: #d7ebff !important;
}
.bg-secondary-light {
  background: #77818a !important;
}
.bg-secondary-dark {
  background: #2c3137;
}

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5) !important;
}
.bg-white-75 {
  background: rgba(255, 255, 255, 0.75) !important;
}

.text-white-hover:hover {
  color: #fff !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}
.opacity-35 {
  opacity: 0.35 !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-80 {
  opacity: 0.8 !important;
}
.opacity-85 {
  opacity: 0.85 !important;
}
.opacity-90 {
  opacity: 0.9 !important;
}
.opacity-1,
.opacity-hover-100:hover {
  opacity: 1 !important;
}

.bg-yellow {
  background: #f2f81b !important;
}
.bg-blue {
  background: #1886d8 !important;
}
.bg-blue-acknowledged {
  background: #d7ebff;
}
.bg-blue-acknowledged-dark {
  background: #5699cd;
}
.bg-green {
  background: #28a745 !important;
}
.bg-grey-light {
  background: #edf1f5;
}
.bg-grey-whisper {
  background: #878d94;
}
.bg-grey {
  background-color: $grey;
}
.bg-grey-whisper-dark {
  background: #6c757d;
}
.bg-transparent {
  background: rgba(255, 255, 255, 0.15) !important;
}
.bg-secondary-light {
  background: #77818a !important;
}
.bg-secondary-dark {
  background: #2c3137;
}
.bg-darker-blue {
  color: #fff;
  background-color: #3d6a97;
}
.bg-white-50 {
  background: rgba(255, 255, 255, 0.5) !important;
}
.bg-white-75 {
  background: rgba(255, 255, 255, 0.75) !important;
}

.text-white-hover:hover {
  color: #fff !important;
}
