// Include any default variable overrides here
$blue: #007AFF;
$blue-light: #2ea6ff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #F37C20;
$yellow: #ffc107;
$green: #28a745;
$lime: #23d04d;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$grey-dark: #343a40;
$grey-light: #edf1f5;
$primary: #3d6a97;
$secondary: #3b4758;
$secondary-dark: #213040;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #18222d;

$grey: #797F84;
$grey-hover: rgba(234, 236, 238, 0.5);
$grey-empty: #EAECEE;

$primary-black: #000000;
$blue-system: #007AFF;
$grey-box-shadow: #dde3e8;

// Small tablets and desktops
$screen-sm-min: 1024px;

// Medium tablets and desktops
$screen-md-min: 1152px;

// Large tablets and desktops
$screen-lg-min: 1700px;

// Xtra Large tablets and desktops
$screen-xl-min: 1920px;


// common margin and padding values
$wrapper-space: 32px;
$gap-space: 24px;

//media tile height
$media-tile-height: 172px;


// bootstrap overwrites
$progress-height:                   .5rem;
