@import "constans";

.custom-dropdown {
}

.custom-dropdown:hover .btn {
  background-color: $white;
}

.custom-dropdown:hover .feather {
  color: $blue-system;
}

.custom-dropdown-menu {
  padding: 12px 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.custom-dropdown-item {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 30px 12px 20px;

  background: #ffffff;
}
