@import "mixins";
@import "constans";

.max-content-wrapper {
  margin-left: 32px;
  margin-right: 32px;

  @include sm {
    margin-left: 32px;
    margin-right: 32px;
  }

  @include md {
    margin-left: 32px;
    margin-right: 32px;
  }

  @include lg {
    margin-left: 32px;
    margin-right: 32px;
  }

  @include xl {
    max-width: 1784px;
    margin-left: auto;
    margin-right: auto;
  }
}

.media-grid-container {
  margin-right: $wrapper-space;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: $gap-space;
}

.media-grid-tile {
  display: grid;
  cursor: pointer;
}

.media-grid-tile:hover .media-grid-figure {
  background-color: #007aff;
  border: 3px solid #007aff;
}

.media-grid-tile:hover .media-grid-tile-name-label {
  color: #007aff;
}

.media-grid-tile:hover .media-grid-tile-created-label {
  color: #007aff;
}

.media-grid-figure {
  display: grid;
  position: relative;

  height: $media-tile-height;

  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
}

.media-grid-tile-name-label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
  color: $primary-black;
}

.media-grid-tile-created-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-top: 3.71px;
  color: $grey;
}

.media-grid-tile-figure {
  position: relative;
}

.media-recent-time-ago-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  height: 65px;
}

.media-top-right-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;

  width: 32px !important;
  height: 32px !important;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
